.upgradeBlock {
    height: 85vh;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: var(--white);
    background-color: var(--bg-upgrades);
}

.upgradeInf {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    color: var(--color-text-upgrades);
    background-color: var(--bg-upgrades-upper);
}

.upgradeNumbers {
    color: var(--color-text)
}

.upgradeTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1px #000;
    font-size: 18px;

    span {
        color: var(--white)
    }
}