.progress_box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 244px;
  height: 12px;
}
.progress_coin {
  position: absolute;
  top: -150%;
  left: -12%;
  width: 42px;
}

.progress_box_silver1 {
  position: absolute;
  top: -100%;
  left: 30%;
  width: 40px;
  height: 36px;
}

.progress_box_silver2 {
  position: absolute;
  top: -100%;
  left: 60%;
  width: 40px;
  height: 36px;
}
.progress_box_gold {
  position: absolute;
  top: -100%;
  right: -12.5%;
  width: 40px;
  height: 36px;
}
