.upgradeBlock {
  margin: 0 auto;
  margin-bottom: 9%;
  max-width: 302px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--bg-upgrades);
}

.upgradeList {
  padding: 11px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.modalItem {
  max-height: 210px;
  align-self: flex-end;
  display: flex;
  background: none !important;
  z-index: 25;

  .modalOverlay {
    padding: 0;
  }
}

.upgradeItem {
  padding: 8px;
  padding-top: 0;
  height: 210px;
  position: relative;

  .itemBlock {
    display: flex;
    gap: 8px;
    height: 71px;

    .upgradeListImg {
      width: 48px;
      height: 60px;
    }

    .itemCharacter {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      height: 100%;

      .unitTitle {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 400;
        line-height: 10.1px;
        color: var(--white);
      }

      .unitCP {
        margin-bottom: 4px;
        font-size: 11.31px;
        font-weight: 400;
        line-height: 10.05px;
        color: var(--white);
      }

      .itemButton {
        margin-top: auto;
        padding: 5px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 15.41px;
        border-radius: 8px;
        color: rgba(255, 255, 255, 1);
        background: var(--primay-bg-button);
        border: 1px solid rgba(0, 50, 2, 1) !important;
        border-radius: 8px;
      }
    }
  }

  .itemList {
    display: flex;
    gap: 10px;
    height: 100%;
  }

  .closeItem {
    position: absolute;
    top: -10px;
    right: 0;
  }
}

.slidingPanel {
  background-color: rgba(116, 177, 249, 1) !important;
}

.box_lvl {
  position: absolute;
  top: 5%;
  left: 6%;
}

.shield {
  width: 17px;
  height: 19px;
}
.title_lvl {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 50%;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}
.box_progress_lvl {
  margin-bottom: 6px;
  position: relative;
  border: 0.68px solid #000;
  border-radius: 3px;
  width: 48px;
  height: 14px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: start;
}

.progress_lvl {
  position: relative;
  border: 1.05px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px 0 0 3px;

  height: 12px;
  background: #f7a31a;
}

.imgCards {
  position: absolute;
  left: -14%;
  width: 16px;
  height: 18px;
  z-index: 2;
}
.text_progress_lvl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 69%;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 0.8px black;
  text-stroke: 0.8px black;
}

.itemElement {
  position: relative;
  width: 68px;
  height: 107px;
  padding: 10px;
  background-color: var(--bg-army-item);
  border: 1px solid #77789c;

  border-radius: 6px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.evolveButton {
  padding: 14px 0 !important;
  width: 100%;
  position: absolute;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.82px;
  color: rgba(255, 255, 255, 1) !important;
  background: var(--primay-bg-button);
  border: 1px solid rgba(0, 50, 2, 1) !important;
  border-radius: 8px;
  --webkit-text-stroke: 1px solid rgba(0, 50, 2, 1)
}

.unitItem {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 242, 195, 1);
  border-radius: 6px;
}

.progress {
  margin-bottom: 6px;
}

.unitCharacter {
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 8.17px;
  color:rgba(143, 84, 80, 1);
}

.unitUtil {
  font-size: 11px;
  font-weight: 400;
  line-height: 8.17px;
  color:rgba(143, 84, 80, 1);
}