.upgradeBlock {
  margin: 0 auto;
  margin-bottom: 9%;
  max-width: 302px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--bg-upgrades);
}

.upgradeList {
  padding: 11px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.modal {
  z-index: 40 !important;
}

.modalOverlay {
  padding: 14% 0 0 !important;
  height: 100vh;
}

.modalContent {
  padding: 16px 4px 0;
  height: 100%;
  background: #74b1f9;
}

.upgradeItem {
  padding: 4px 4px 0;
  padding-top: 0;
  height: 100%;
  position: relative;
}

.upgradeCP {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  -webkit-text-stroke: 1px #151527;
}

.upgradeDown {
  margin-top: auto;
  padding: 45px 11px 11px;
  max-height: calc(100% - 14em);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #ffffff;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background: var(--bg-army-item);
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -2px;
    right: -2px;
    bottom: -3px;
    border: 1px solid #77789c;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
}

.unitPerson_box {
  width: 276px;
  height: 276px;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff; /* Цвет фона */
  border-radius: 50%; /* Закругление углов для создания круга */
  filter: blur(69px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.unitPerson {
  max-width: 162px;
  max-height: 172px;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.upgradeTitle {
  margin-bottom: 3px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  line-height: 39%;
  color: #151527;
  margin-bottom: 13px;
}

.upgradeProgressCards {
  margin-bottom: 13px;
  max-width: 174px;
  height: 16px !important;
  position: relative;
  align-self: center;
}

.upgradeProgressCardsBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 9.42px;
}

.level {
  max-width: 26px;
  max-height: 29px;
  position: absolute;
  right: -2px;
  top: -5px;
}

.icon {
  max-width: 24px;
  max-height: 27px;
  position: absolute;
  left: -2px;
  top: -7px;
}

.upgradeEvolve {
  margin-bottom: 29px !important;
  padding: 12px !important;
  width: 100%;
  font-size: 20px;
  border: 1px solid #003202 !important;
  border-radius: 8px;
  background: var(--primay-bg-button);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 1px #003202;
}
.upgradeListBox {
  // display: flex;
  // justify-content: center;
}
.upgradeListEvolve {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upgradeListItem {
  padding: 6px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border: 1px solid var(--primary-awards-border-jewerly);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--primary-awards-bg);

  strong {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-awards-title);
  }
}

.closeItem {
  width: max-content;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.upgradePrice {
  padding: 5px 0 !important;
  width: 102%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -27px;
  font-size: 18.19px;
  font-weight: 400;
  text-align: center;
  color: var(--white) !important;
  border: 1px solid #003202 !important;
  border-radius: 8px;
  background: var(--primay-bg-button);
  -webkit-text-stroke: 1px #003202;
}
