.awardsBlock {
  display: flex;
  flex-direction: column;

  .awardsImg {
    margin-bottom: 17px;
  }
}

.awardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.awardsElement {
  border-radius: 12px;
  background-color: var(--primary-awards-bg);
  min-height: 90px;

  &:last-child {
    grid-column: 1 / span 3;
    
    .awardsDown {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      p {
        display: flex;
        flex-direction: column;

        img {
          width: 43px;
          height: 43px;
        }
      }
    }
  }
}

.awardsButton {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;

  &:disabled {
    .awardsDown {
      background-color: var(--primary-awards-title-bg);
      opacity: 0.6 !important;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      right: -5px;
      background-image: url('../../assets/img/awardsDone.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 25px;
      height: 25px;
      opacity: 1;
    }
  }

  &.active {
    box-shadow: 0px 0px 14px 0px #bfffa1;
    box-shadow: 0px 0px 5px 0px #ffffff;
    .awardsTitle {
      color: #fff;
      background: linear-gradient(180deg, #bce93a 0%, #7ac021 100%);
    }
    .awardsDown {
      background: #fff6e8;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

.awardsTitle {
  padding: 7px 26px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-awards-title);
  background-color: var(--primary-awards-title-bg);
  border-bottom: 1px solid #511401;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
}

.awardsDown {
  padding: 4px;
  width: 100%;
  flex: 1;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-awards-text);

    img {
      width: 23px;
      height: 25px;
    }
  }
}

.awardsItemBlock {
  padding: 87px 32px 26px;
  border: 2px solid #ffcc47;
  border-radius: 12px;
  background: linear-gradient(0deg, #74b1f9, #74b1f9),
    linear-gradient(0deg, rgba(82, 83, 145, 0.5) 0%, rgba(82, 83, 145, 0) 100%);
}

.awardsItems {
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  z-index: 5;
}

.awardsGridItem {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff2c3;
  border: 1px solid #511401;
  border-radius: 12px;
  box-shadow: 0 3px 20px white;

  img {
    max-width: 40px;
    max-height: 40px;
    background-image: url('../../assets/img/awardsItem.png');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
  }

  p {
    font-size: 24px;
    font-weight: 400;
    color: #550000;
  }
}

.yourRewardBlock {
  margin-bottom: 17px;
  position: relative;
  display: flex;
  justify-content: center;
}

.rotateBlock {
  max-width: 246px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate {
  width: 100%;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.awardsItemButton {
  width: 100%;
  height: 63px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  border: 1px solid #003202 !important;
  border-radius: 14px;
  background: var(--primay-bg-button);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 1.59px #003202;
}

.chestAwards {
  width: 65px;
  height: 59px;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
