.awardsBlock {
    display: flex;
    flex-direction: column;

    .awardsImg {
        margin-bottom: 17px;
    }
}

.awardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.awardsElement {
    height: 90px;
    border-radius: 12px;
    background-color: var(--primary-awards-bg);

    &:last-child {
        grid-column: 1 / span 3;
    }
}

.awardsButton {
    width: 100%;
    height: 100%;
}

.awardsTitle {
    padding: 7px 26px;
    font-size: 16px;
    font-weight: 400;   
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-awards-title);
    background-color: var(--primary-awards-title-bg);
    border-bottom: 1px solid #511401;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.awardsDown {
    padding: 4px;

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        color: var(--primary-awards-text);

        img {
            width: 23px;
            height: 25px;
        }
    }
}